@import '../../../../../bb-public-library/react-components/lib/styles/variables';

$modal-smallest-breakpoint: 27rem;
$modal-small-breakpoint: 50rem;
$modal-medium-breakpoint: 64rem;
$max-iframe-desktop-height: 7rem;
